# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: ScootShare CI
run-name: Running build for  ${{ github.sha}}
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Continuous Integration of main pipeline
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: '24'
        cache: 'npm'
        
    - name: Install dependencies
      run: npm ci
      
    - name: Run Linting
      run: npm run lint
      
    - name: Making build
      run: npm run build

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/


  deploy:
    name: Deploy to S3 bucket
    runs-on: ubuntu-latest
    
    env:  
      AWS_REGION: us-east-1
      AWS_STAGING_ACCOUNT_ID: 612782034526
      BUCKET_NAME: scootshare-website

    needs: build

    if: github.event_name =='push' && github.ref == 'refs/heads/main'

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{env.AWS_STAGING_ACCOUNT_ID}}:role/CrossAccountDeployRole
          aws-region: ${{env.AWS_REGION}}
      
      - name: Deploy to S3
        run: aws s3 sync dist/ s3://${{ env.BUCKET_NAME }}-${{env.AWS_STAGING_ACCOUNT_ID}} --delete

